<%= image_tag("world.png", alt: "world-map", class: "no") %>


<div id='marker_div' style="
          height:  40.05px;
          width:   80.05px;
          background-color: red;
          position: absolute;
          z-index: 999;
          opacity: 0.3;
          left: <%=@left %>;
          top: <%=@top %>;
  ">


    <div id="big_squares" style="
            height:  4.00px;
            width:   8.00px;
            background-color: black;
            position: relative;
            z-index: 9999;
            opacity: 1;
            left: <%= @left_for_big_squares%>;
            top: <%= @top_for_big_squares %>;
    ">
    </div>
  </div>