<%= image_tag("map_homework.png", alt: "world-map", class: "no") %>
  <div id='marker_div' style="
          height:  58.33px;
          width:   100.55px;
          background-color: red;
          position: absolute;
          z-index: 9999;
          opacity: 0.3;
          left: <%=@left %>;
          top: <%=@top %>;
  ">
    <div id="big_squares" style="
            height:  5.83px;
            width:   10.05px;
            background-color: lawngreen;
            position: absolute;
            z-index: 9999;
            opacity: 1;
            left: <%=@top_for_big_squares %>;
            top: <%=@left_for_big_squares %>;
    ">
    </div>
  </div>